

.form-label{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill:  #363636;
}

.form-input{
    -fx-background-radius: 50px;
    -fx-background-color:  #ededed;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-padding: 10px;
}

.toggle-passowrd-visibility {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 40px;
    -fx-pref-height: 30px;
    -fx-padding: 0;
}

.form-input-container {
    -fx-padding: 7px 10px 7px 10px;
}

.form-input-pass {
    -fx-background-color:  #ededed;
}

.sign-in-btn {
    -fx-background-color:  linear-gradient(to right ,rgba(227, 64, 69, 1) 0%, rgba(242, 63, 87, 1) 50%, rgba(250, 65, 117, 1) 100%);
    -fx-background-radius: 50px;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.check-box > .box {
    -fx-background-color: transparent;
    -fx-border-color: #F24153;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-pref-height: 14.5;
    -fx-pref-width: 14.5;
    -fx-max-height: 14.5;
    -fx-max-width: 14.5;
}

.check-box:selected > .box{
    -fx-background-color: #F24153;
    -fx-border-radius: 4px;
}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

/* ===================== */
/* Receptionist Dashboard Theme */
/* ===================== */

.root {
    -fx-background-color: #f6f7fb;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Welcome & Header Labels */
.label-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #363636;
}

.label-subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #666666;
}
/* Welcome & Header Labels */

.navbar-link {
    -fx-font-size: 14px;
    -fx-text-fill: #c20000;
    -fx-alignment: top-left;
    -fx-max-width: Infinity;
    -fx-pref-width: Infinity;
}